h1 {
  color: #000;
}

h1 span {
  color: #037bc0;
}

h2 span {
  color: green;
}
/* 
a:nth-child(2) {
  text-transform: uppercase;
} */

/* nav a{
  text-transform: uppercase;
} */

 navegacion a{
  text-transform: uppercase;
}
.navegacion a {
  text-transform: lowercase;
}

#navegacion a {
  text-transform: capitalize;
}